<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="DemoBlazeSuite" parallel="false">
    <parameter name="browser" value="chrome"/>
    <test name="Functional Tests">
        <classes>
            <class name="test.SignupLoginTest"/>
            <class name="test.SignupLoginLogoutTest"/>
            <class name="test.WrongPasswordTest"/>
            <class name="test.AddToCartTest"/>
            <class name="test.PlaceOrderTest"/>
        </classes>
    </test>
</suite>


