<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DemoBlazeSuite" parallel="false">
	<parameter name="browser" value="firefox" />

	<!-- ✅ Add listeners here, inside <suite> but before/after <test> -->
	<listeners>
		<listener class-name="com.demoblaze.tests.base.TestResultListener" />
	</listeners>
	<test name="Functional Tests">
		<classes>
			<class name="test.SignupLoginTest" />
			<class name="test.SignupLoginLogoutTest" />
			<class name="test.DuplicateSignupTest" />

			<!-- 2) Login negative checks -->
			<class name="test.EmptyLoginValidationTest" />
			<class name="test.WrongPasswordTest" />

			<!-- 3) Product & price checks -->
			<class name="test.ProductDetailsTest" />


			<!-- 4) Cart operations -->
			<class name="test.AddToCartTest" />
			<class name="test.DeleteSpecificItemTest" />
			<class name="test.CartPersistenceOnRefreshTest" />

			<!-- 5) Checkout -->
			<class name="test.PlaceOrderTest" />
			<class name="test.CheckoutNegativeTest" />
		</classes>
	</test>
</suite>


